<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Pagina Web Colaborativa</title>
</head>
<body>

    <div class="">

        <div class="container" style="margin-bottom: 30px; margin-top: 50px;">
            <h2>Contact</h2>
        
            <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis, obcaecati libero consequatur, hic voluptatum officia sunt eaque expedita voluptatibus laborum distinctio corporis qui officiis earum similique esse dolore quo ipsam</span>

            
        </div>
        
        <div class="card m-auto" style="width: 60%; background-color: rgb(236, 236, 236);">
            
            <div class="card-body col-12 d-flex">
                <label for="" class="col-md-3 text-sm-start" style="padding-left: 40px;"><strong>Your E-mail</strong></label>
                <input type="email" class="col-md-9" placeholder="Your Email" style="padding-left: 10px; width: 50;">
            </div>
            
            <div class="card-body2 d-flex">
            
                <label for="" class="col-md-3 text-sm-start" style="padding-left: 40px; margin-left: 8px;"><strong>Your Message</strong></label>
                <textarea name="" class="col-md-9" id="" cols="30" rows="5" placeholder="Please Enter Your Message Here..." style= "padding-left: 10px; width: 550px;"></textarea> 
               
            </div>          
            
            <a href="#" class="btn btn-primary" style="width: 100px; align-self: flex-end; margin-top: 15px; margin-right: 5px; margin-bottom: 20px;">Submit</a>
        </div>

    </div>
</body>
</html>